body {
    font-family: 'Days One', sans-serif;
    color: white;
    background: linear-gradient(135deg, rgb(255, 143, 174), rgb(135, 206, 250), rgb(255, 233, 100));
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
    height: 100vh; /* Полная высота страницы */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Кролики */
.rabbit {
    position: absolute;
    width: 50px;
    height: auto;
    z-index: 1; /* Кролики будут поверх фона */
}

/* Контейнер */
.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 20px;
    z-index: 2;
    position: relative;
}

/* Кнопки */
.btn {
    font-family: 'Days One', sans-serif;
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    background: linear-gradient(145deg, #ffcc00, #ffb400);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 204, 0, 0.3);
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 204, 0, 0.5);
    background: linear-gradient(145deg, #ffb400, #ffcc00);
    filter: brightness(1.1);
}

.social-links img {
    width: 40px;
    margin: 10px;
}
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}